@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+BE+VLG:wght@100..400&display=swap');

body{
    background-color: darkcyan;
}
h1{
    font-family: 'Pacifico';
    text-align: center;
    color:aliceblue;
}

.text-container{
    border: solid darkcyan ;
    box-shadow: 0 0 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background-color: aliceblue;
}

.input-txt{
   text-align: center;
    margin: 50px auto;
    display: block;
    width: 80%;
    height: 120px;
    font-size: 35px;
    border-radius: 10px;
}

.result-txt{
    margin: 30px auto;
    display: block;
    width: 80%;
    height: 60px;
    font-size: 30px;
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    font-size: 50px;
}

.action-btn{
    border-radius: 50px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    color: aliceblue;
    background-color: darkcyan;
    border: none;
}

.action-btn:hover{
    color: darkcyan;
    background-color: aliceblue;
    border: solid darkcyan;
}